*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f2495b;
  --white-color: #fff;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-source-sans: "Source Sans 3", sans-serif;
}

p,
a {
  font-family: var(--font-family-roboto);
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-family-source-sans);
}

.container {
  width: 80%;
}
