nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: transparent;
}
nav span {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 800;
}

nav ul {
  display: flex;
  column-gap: 12px;
}
nav ul a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}

nav ul a:hover {
  color: var(--primary-color);
}
