.services {
  padding: 80px 0 50px 0;
  background-color: rgb(241, 241, 241);
  display: flex;
    justify-content: center;

}
.services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 35px;
}


.services__list {
  display: flex;
  justify-content: center;
}

.services__list .item {
  width: 300px;
  height: 250px;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.services__list .item i {
  font-size: 32px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.services__list .item h3 {
  margin: 20px 0 15px 0;
  font-size: 24px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}
.services__list .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  columns: rgb(85, 85, 85);
  text-align: center;
}

.services__list .item:hover {
  background-color: var(--white-color);
}
.services__list .item:hover i {
  transform: scale(1.2);
}
